# ─── JWT ──────────────────────────────────────────────────────────────────────
# Cambia este valor por una clave secreta segura en producción
JWT_SECRET=changeme

# ─── Bases de Datos (MySQL) ──────────────────────────────────────────────────
# Cada microservicio usa su propia base de datos
SPRING_DATASOURCE_URL_IDENTITY=jdbc:mysql://host.docker.internal:3306/db_identity?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
SPRING_DATASOURCE_URL_CATALOG=jdbc:mysql://host.docker.internal:3306/db_catalog?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
SPRING_DATASOURCE_URL_LICENSE=jdbc:mysql://host.docker.internal:3306/db_license?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
SPRING_DATASOURCE_URL_ELENDING=jdbc:mysql://host.docker.internal:3306/db_lending?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
SPRING_DATASOURCE_URL_NOTIFICATION=jdbc:mysql://host.docker.internal:3306/db_notifications?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
SPRING_DATASOURCE_URL_SUBSCRIPTION=jdbc:mysql://host.docker.internal:3306/db_subscriptions?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
SPRING_DATASOURCE_URL_INGESTION=jdbc:mysql://host.docker.internal:3306/db_ingestion?useSSL=false&serverTimezone=UTC&allowPublicKeyRetrieval=true
